---
// Import Font Awesome for icons
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SPS DAO - Splinterlands Governance</title>
  </head>
  <body
    class="bg-[rgb(var(--dark-bg-color))] text-[rgb(var(--light-text-color))] relative"
  >
    <!-- Navigation -->
    <slot />

  </body>
</html>
